//-
//- This program is distributed under
//- the terms of the MIT license.
//- Please see the LICENSE file for details.
//-
//- lastModified: 2012-07-28 16:15:05.157091
//-
!!! 5
html(lang='en')
    head
        meta(charset='utf-8')
        title= 'Publisher Website'
        link(rel='stylesheet', media='all', href='/css/main.css');

        script
            if (!window._wd) {
                window._wd = {
                    pubId : '123456'
                };

                (function() {
                    var script   = document.createElement('script');
                    script.type  = 'text/javascript';
                    script.async = true;
                    script.src   = '//api.widget.www/api.v.0.1.js'
                    var node     = document.getElementsByTagName('script')[0];
                    node.parentNode.insertBefore(script, node);
                }());
            }

            function trace(data) {
                try {
                    console.warn(data);
                } catch(ignore) {

                }
            }

            window._wdq = [];

            window._wdq.push({action : 'echo', payload : {'hello' : 'world'}});
            window._wdq.push({action : 'echo', payload : {'hello' : 'stars'}});
            window._wdq.push({action : 'echo', payload : {'hello' : 'universe'}});

            window._wdAsyncInit = function() {
                trace('publisher: _wdAsyncInit called');
                window._wdq.push({action: 'echo', payload : {'Do'       : ', or do not'}});
                window._wdq.push({action: 'echo', payload : {'There is' : 'no try.'}});
                window._wdq.push({action: 'echo', payload : {'Master'   : 'Yoda'}});
            };
    body(lang='en')
        section#Main
            h2 Welcome to Publisher Website

            p(style='float:right;width:300px') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget diam quam, at accumsan quam. Integer laoreet vestibulum ligula, eu laoreet urna fringilla id. Nunc faucibus ligula id neque pretium pharetra. Aliquam at mi at nisl convallis cursus. Suspendisse auctor felis et metus eleifend in malesuada tortor ullamcorper. Nulla dapibus consectetur orci a commodo. Nam dapibus ultricies orci vitae congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

            p(style='float:left;width:300px') Vestibulum dui erat, gravida a feugiat et, congue non felis. Nam molestie dictum velit ut eleifend. Suspendisse dignissim fringilla orci, sed pretium felis aliquam a. Praesent iaculis pretium turpis, ut viverra mi gravida id. Morbi volutpat aliquam tincidunt. Pellentesque nunc elit, tempus ut facilisis nec, fermentum elementum felis. Aenean non odio risus. Nunc non erat sit amet massa suscipit posuere. Nulla eu porta lectus. Maecenas enim lorem, lobortis vel sodales in, vestibulum nec sapien. Suspendisse orci lectus, sodales eget fermentum quis, dignissim non lacus.

            div(data-wd-anchor, style='float:left;width:300px;margin-top:20px;margin-left:10px;')

            p(style='float:right;width:300px') Mauris ac dolor ante. Maecenas suscipit mi enim. Nunc eu est sagittis orci commodo sodales. Suspendisse potenti. In ornare metus non lacus gravida vulputate. Nullam tortor metus, scelerisque quis auctor eget, lobortis at enim. Suspendisse vehicula nisi et mauris pharetra molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ullamcorper volutpat nisi, et ullamcorper eros viverra in. Maecenas lacus nibh, feugiat ac vulputate eu, consectetur at turpis. Vivamus sed odio id augue vestibulum sollicitudin. Duis facilisis pulvinar viverra. Proin at erat at velit porta luctus nec eget nisl. Maecenas sapien arcu, iaculis sit amet pulvinar eu, auctor at odio. Sed gravida suscipit diam nec blandit. Pellentesque laoreet, ligula nec commodo laoreet, sapien sem volutpat enim, ut pellentesque urna dui vel ligula.

            p(style='float:left;width:300px') Integer turpis quam, dapibus at facilisis eget, tempor et purus. Fusce dapibus vestibulum rhoncus. Praesent pellentesque bibendum nunc nec convallis. Vivamus vestibulum ornare metus id varius. Praesent sem augue, mollis eget tempus sed, aliquet eu diam. Etiam eget nisl nec arcu malesuada convallis laoreet ac purus. Etiam id risus dui, nec lacinia libero. Nullam egestas adipiscing ligula rutrum rhoncus. Sed elementum commodo commodo. Donec at nisi ut tellus congue ultrices non eu velit. Quisque felis neque, luctus id sollicitudin sed, dignissim feugiat diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec nec turpis lorem.

            p(style='float:right;width:300px') Fusce eget erat erat, at vulputate massa. Suspendisse dignissim viverra ante, in pharetra mi mollis a. Integer molestie porta rhoncus. Vestibulum nibh quam, gravida ac feugiat lobortis, dictum quis nisl. Nullam cursus urna nulla. Vestibulum felis metus, volutpat nec lacinia ut, dignissim aliquet libero. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit