[submodule "externals/jscover"]
	path = externals/jscover
	url = https://github.com/tntim96/JSCover.git
[submodule "externals/node-jscoverage"]
	path = externals/node-jscoverage
	url = https://github.com/visionmedia/node-jscoverage.git
