//-
//- This program is distributed under
//- the terms of the MIT license.
//- Please see the LICENSE file for details.
//-
//- lastModified: 2012-07-28 16:18:58.696860
//-
form.wd-box.wd-login(id='wd_'+guid)
    fieldset.wd-boxBody
        label(for='wd_username'+guid) Username
        input(id='wd_username'+guid, type='text', tabindex='1', placeholder='type in your &quot;#{publisherName}&quot; username.', required)
        label(for='wd_password'+guid)
            a(href='/', class='wd-rLink', tabindex='5') Forgot password?
            span Password
        input(id='wd_password'+guid, type='password', tabindex='2', required)
    footer
        label(for='wd_chk_remember'+guid)
            input(id='wd_chk_remember'+guid, type='checkbox', tabindex='3')
            span Keep me logged in
        input(id='wd_btnLogin'+guid, type='button', class='wd-btnLogin', value='Login', tabindex='4')