//-
//- This program is distributed under
//- the terms of the MIT license.
//- Please see the LICENSE file for details.
//-
//- lastModified: 2012-07-20 16:22:20.5277092
//-
|(function() {
|    var update = function() {
|        if (!document.body) {
|            setTimeout(update, 500);
|            return;
|        }
|
|        var loader = document.createElement('iframe');
|
|        loader.style.display = 'none';
|        loader.src = '#{iframeUrl}';
|
|        document.body.appendChild(loader);
|    };
|
|    update();
|})();