//-
//- This program is distributed under
//- the terms of the MIT license.
//- Please see the LICENSE file for details.
//-
//- lastModified: 2012-07-28 16:15:05.157091
//-
section.wd-dashboard
    h2 Welcome to Dashboard!
    p I kiss you!