//-
//- This program is distributed under
//- the terms of the MIT license.
//- Please see the LICENSE file for details.
//-
//- lastModified: 2012-07-18 18:00:10.598132
//-
|function test() {
|alert('baa')
|}
|alert('hello world');