//-
//- This program is distributed under
//- the terms of the MIT license.
//- Please see the LICENSE file for details.
//-
//- lastModified: 2012-07-20 16:22:20.527709
//-
!!! 5
html(lang='en')
    head
        script(src= apiBootstrapUrl)
    body(lang='en')
        script
            if (!window.location.hash) {
                window.location.hash = 'checked';
                window.location.reload(true);
            }