# <!--
#  This program is distributed under
#  the terms of the MIT license.
#  Please see the LICENSE file for details.
#
#  lastModified: 2012-03-03 13:03:06.004253
# -->

Options +FollowSymLinks

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^index.php$ http://localhost/o2.js/examples/vcardapp [R]
RewriteRule ^close$     http://localhost/o2.js/examples/vcardapp [R]

RewriteRule ^people/(.*)$ vcard.php?u=$1


