/*
 * <!--
 *  This program is distributed under
 *  the terms of the MIT license.
 *  Please see the LICENSE file for details.
 *
 *  lastModified: 2012-07-28 10:57:47.553068
 * -->
 */

* {margin:0;padding:0;}

body {
    background : #fafafa;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size  : 12px;
}

h2 {
    background    : #eee;
    border-bottom : 1px #ddd solid;
    color         : #333;
    font-size     : 140%;
    font-weight   : normal;
    letter-spacing: 1em;
    margin        : 0.2em;
    padding       : 0.2em;
    text-align    : center;
}

p {
    font-size : 120%;
    margin    : 1em;
    padding   : 1em;
    border    : 1px #ccc solid;
    background: #eaeaea;
}