//-
//- This program is distributed under
//- the terms of the MIT license.
//- Please see the LICENSE file for details.
//-
//- lastModified: 2012-07-28 00:58:14.070066
//-
!!! 5
html(lang='en')
    head
        meta(charset='utf-8')
        title= 'Publisher Website'
        link(rel='stylesheet', media='all', href='/css/main.css');

        script
            if (!window._wd) {
                window._wd = {
                    pubId : '123456'
                };

                (function() {
                    var script   = document.createElement('script');
                    script.type  = 'text/javascript';
                    script.async = true;
                    script.src   = '//api.widget.www/api.v.0.1.js'
                    var node     = document.getElementsByTagName('script')[0];
                    node.parentNode.insertBefore(script, node);
                }());
            }
    body(lang='en')
        section#Main
            h2 Welcome to Publisher Website

            p Hello World.

            div(data-wd-textbox)

            p Hello Stars.

            p Hello Universe.